*.pyc
*~
doc/*.html
doc/*-imports
tmp/

css/minima/blue.css
css/minima/brown.css
css/minima/gray.css
css/minima/green.css
css/minima/pink.css
css/minima/purple.css

test/*-imports
test/*.html
test/*.log
test/simple.aux
test/simple.docbook
test/simple.out
test/simple.pdf
test/simple.tex
test/simple.toc

build
dist
thot.egg-info
MANIFEST*

