*.pyc
*~
doc/*.html
doc/*-imports
tmp/

test/*-imports
test/*.html
test/*.log
test/simple.aux
test/simple.docbook
test/simple.out
test/simple.pdf
test/simple.tex
test/simple.toc

build
dist
thot.egg-info


